apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-one
  labels: 
    app: app-one
spec:
  selector:
    matchLabels:
      app: app-one
  template:
    metadata:
      labels:
        app: app-one
    spec:
      containers:
      - name: hello-kubernetes
        image: paulbouwer/hello-kubernetes:1.10
        env:
        - name: MESSAGE
          value: "Hello from app1."
        ports:
        - containerPort: 8080

