apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-two
  labels: 
    app: app-two
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app-two
  template:
    metadata:
      labels:
        app: app-two
    spec:
      containers:
      - name: hello-kubernetes
        image: paulbouwer/hello-kubernetes:1.10
        env:
        - name: MESSAGE
          value: "Hello from app2."
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "512Mi"
            cpu: "400m"
          limits:
            memory: "1524Mi"
            cpu: "800m"

